body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: grid;
    grid-template-rows: 110px auto 70px;
    grid-template-areas: "header" "main" "footer";
}

header {
    grid-area: header;
    background-color: #FFFAF4;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.header-box {
    max-width: 85%;
    margin: 25px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15%;
}

header img {
    height: 65px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    vertical-align: middle;
}

.menu a:hover {
    color: #e79157;
}

nav a:hover, nav a:focus, nav a:active, .here a {
    text-decoration: none;
    font-weight: 900;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 16px;
    text-transform: uppercase;
    color: #6688c4;

    position: relative;
    display: block;
    padding: 15px 5px;
    margin: 0 12px;
}

.menu > a::before, .here > a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #6688c4;
}

.here a::before {
    opacity: 1 !important;
    bottom: 8px !important;
}

.menu > a::before {
    opacity: 0;
    transition: 300ms;
    bottom: 5px;
}
.menu > a:active::before {
    background-color: #6688c4;
    opacity: 1;
    bottom: 8px;
}
.menu > a:hover::before, .menu > a:focus::before {
    opacity: 1;
    bottom: 8px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #6688c4;
    min-width: 10px;
    box-shadow: 0px 3px 6px 0px #98b0d9;
    z-index: 3;
}

.dropdown-menu a {
    color: #FFFAF4;
    text-decoration: none;
    display: block;
    text-align: left;
    padding: 14px 16px;
    margin: 0;
}

.dropdown-menu a:hover { 
    background-color: #f5c4a2;
    color: #6688c4;
}

.dropdown:hover .dropdown-menu {
    display: block;
} 

main {
    background-color: #FFFAF4;
    grid-area: main;
}

#colored {
    background-color: #6688c4;
}

footer {
    background-color: #F4B183;
    color: white;
    grid-area: footer;
    padding: 2px 0;
}

.email {
    text-decoration: none;
    color: #2c5eb5;
}

.email:hover {
    color: #FFFAF4;
}

header, footer {
    text-align: center;
}

#slider {
    width: 600px;
    max-width: 100%;
    text-align: center;
}

#slider input[type=radio] {
    display: none;
}

#slider label {
    cursor:pointer;
    text-decoration: none;
}

#slides {
    position: relative;
    z-index: 1;
}

.overflow {
    width: 100%;
    overflow: hidden
}

.slide-content img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 30px;
}

#slide1:checked ~ #slides .inner {
    margin-left: 0;
}

#slide2:checked ~ #slides .inner {
    margin-left: -100%;
}

#slide3:checked ~ #slides .inner {
    margin-left: -200%;
}

#slide4:checked ~ #slides .inner {
    margin-left: -300%;
}

#slide5:checked ~ #slides .inner {
    margin-left: -400%;
}

#slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 500%;
    line-height: 0;
    height: 300px;
}

#slides .slide {
    width: 20%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
}

#controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controls label:hover {
    opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(1) {
    background: url("./images/arrow-next-svgrepo-com.svg") no-repeat;
    background-size: 50px;
    float:right;
    margin: 0 -10px 0 0;
    display: block;
}

#slide1:checked ~ #controls label:nth-last-child(1), #slide2:checked ~ #controls label:nth-last-child(5), #slide3:checked ~ #controls label:nth-last-child(4), #slide4:checked ~ #controls label:nth-last-child(3),
#slide5:checked ~ #controls label:nth-last-child(2) {
    background: url("./images/arrow-prev-svgrepo-com.svg") no-repeat;
    background-size: 50px;
    float:left;
    margin: 0 0 0 -10px;
    display: block;
}

#bullets {
    margin: 150px 0 0;
    text-align: center;
}

#bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #f5c4a2;
    margin: 0 10px;
}

#slide1:checked ~ #bullets label:nth-child(1), 
#slide2:checked ~ #bullets label:nth-child(2), 
#slide3:checked ~ #bullets label:nth-child(3), 
#slide4:checked ~ #bullets label:nth-child(4),
#slide5:checked ~ #bullets label:nth-child(5) {
    background: #e79157;
}

#home-box {
    display: flex;
    max-width: 85%;
    margin: 20px auto;
}

#intro {
    width: 50%;
    flex: 1;
    padding: 1px 40px;

    font-size: larger;
    color: #F4B183;
}

#intro button {
    text-transform: uppercase;
    font-size: large;
    font-weight: bold;
    letter-spacing: 0.3px;

    padding: 10px 20px;
    background-color: #F4B183;
    border: 3px solid #F4B183;
    border-radius: 15px;
    color: #FFFAF4;
    transition-duration: 0.4s ;
}

#intro button:hover {
    background-color: #FFFAF4;
    color: #F4B183;
}

#client-reviews {
    max-width: 85%;
    margin: 40px auto;
    padding: 10px 0 30px 0;

    background-color: #6688c4;
    border-radius: 50px;
}

#reviews-heading {
    width: 90%;
    margin: 20px auto;

    text-align: center;
    justify-content: center;
    color: #FFFAF4;
    font-size: larger;
    text-transform: capitalize;
}

#reviews-heading h1 {
    margin: 5px;
}

#reviews {
    width: 92%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.review-box {
    width: 40%;
    background-color: #FFFAF4;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 20px 30px;
}

.review-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
}

.stars {
    color: #f8cf60;
}

.client {
    color: #5075b6;
    font-size: larger;
    letter-spacing: 0.8px;
}

.name {
    font-weight: bold;
}

.review-comment h2 {
    margin: 10px 0 ;
}

.review-comment p {
    margin: 0 0 8px 0;
    text-align: justify;
    line-height: 1.2em;
    letter-spacing: 0.6px;
}

.review-comment {
    color: #5075b6;
}

#write-review {
    width: 15%;
    background-color: #FFFAF4; 
    border: none;
    border-radius: 30px;
    color: #5075b6;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

#write-review span {
    margin-bottom: 10px;
}

#write-review:hover {
    background-color: #F4B183;
    color: #FFFAF4;
}

#holder {
    width: 85%;
    height: 400px;
    margin: 20px auto;
}

#map {
    width: 50%;
    height: 400px;
    float: left;
}

#map iframe {
    border-radius: 8%;
}

#address {
    width: 45%;
    height: 300px;
    float: right;
    padding: 10px 0;

    color: #6688c4;
}

#address h2 {
    font-size: 32px;
    line-height: 0;
}

#space {
    margin-top: 40px;
}

#address h1 {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 0;
}

#address p {
    font-size: 22px;
}

#title {
    max-width: 85%;
    height: 200px;
    margin: 20px auto;
    border-radius: 50px;
}

#bg-img {
    width: 100%;
    height: 100%;
    background-image: url('./images/grooming-services.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    border-radius: 50px;
}

#title-txt {
    color: #FFFAF4;
    text-shadow: #0c234b 1px 0 10px;
    font-weight: bold;
    font-size: x-large;
    line-height: 0.5;

    border: 10px solid #6688c4;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -97%);
    z-index: 2;
    width: 82%;
    padding: 34px 18px;
    text-align: center;
}

#container {
    display: flex;
    max-width: 85%;
    margin: 20px auto;
}

.packages, .services {
    margin: 20px;
    color: #F4B183;
}

.packages {
    background-color: #FFFAF4;
    border-radius: 20px;
    padding: 20px 40px;
    font-size: x-large;
    letter-spacing: 0.4px;
}

.packages li {
    line-height: 1.3;
}

.packages ul {
    padding-left: 25px;
}

.packages h2 {
   line-height: 0.5
}

.packages hr {
    height: 3px;
    background-color: #F4B183;
    border: none;
}

#bath {
    margin-bottom: 55px;
}

.pricelist {
    width: 100%;
    line-height: 1.4;
}

.amount {
    text-align: right;
    font-weight: bold;
}

.appointment {
    height: 50px;
    width: 100%;
    margin: 20px 0;
    background-color: #F4B183;
    border-radius: 15px;
    border: 4px solid #F4B183;
    transition: 0.4s;

    color: #FFFAF4;
    font-weight: bold;
    text-transform: uppercase;
    font-size: large;
    letter-spacing: 0.8px;
}

.appointment:hover {
    background-color: #FFFAF4;
    color: #F4B183;
}

.services {
    height: 540px;
    width: 42%;

}

.price {
    height: 85px;
    margin: 21px 0;
    padding: 0 18px;
    background-color: #FFFAF4;
    border-radius: 15px;
}

.ala-carte {
    width: 100%;
    padding: 25px 5px;

    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.6px;
}

#guide-title {
    max-width: 85%;
    margin: auto;
    text-align: center;
    color: #F4B183;
}

#guide {
    color: #6688c4;
}

#pet-guide {
    max-width: 80%;
    text-align: center;
    margin: 50px auto;
}

#pet-guide input[type=radio] {
    display: none;
}

#pet-guide label {
    cursor:pointer;
    text-decoration: none;
}

#pet-slides {
    position: relative;
    z-index: 1;
}

.overflow {
    width: 100%;
    overflow: hidden
}

.guide-content {
    width: 1000px;
    height: 500px;
    border-radius: 50px;
    background-color: #F4B183;
    display: flex;
    margin: auto;
}

.guide-pic {
    width: 45%;
    height: 85%;
    margin: auto;
    padding: 10px 40px;
}

.guide-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.guide-txt {
    height: 70%;
    text-align: left;
    margin: auto;
    padding: 10px 50px 10px 0;
    flex: 1;
}

.guide-txt ol {
    list-style-position: inside;
    padding: 0;
}

.guide-txt li {
    font-size: 45px;
    font-weight: bold;
    line-height: 1;
}

.guide-txt p {
    font-size: larger;
    line-height: 1.2;
    letter-spacing: 1.1px;
}

#part1:checked ~ #pet-slides .inner {
    margin-left: 0;
}

#part2:checked ~ #pet-slides .inner {
    margin-left: -100%;
}

#part3:checked ~ #pet-slides .inner {
    margin-left: -200%;
}

#part4:checked ~ #pet-slides .inner {
    margin-left: -300%;
}

#part5:checked ~ #pet-slides .inner {
    margin-left: -400%;
}

#pet-slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 500%;
    line-height: 0;
    height: 500px;
}

#pet-slides .part {
    width: 20%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
}

#controller {
    margin: -270px 0 0 0;
    width: 100%;
    height: 120px;
    z-index: 3;
    position: relative;
}

#controller label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
}

#controller label:hover {
    opacity: 1;
}

#part1:checked ~ #controller label:nth-child(2), 
#part2:checked ~ #controller label:nth-child(3), 
#part3:checked ~ #controller label:nth-child(4),
#part4:checked ~ #controller label:nth-child(5),
#part5:checked ~ #controller label:nth-child(1) {
    background: url("./images/arrow-next-svgrepo-com.svg") no-repeat;
    background-size: 50px;
    float:right;
    margin: 0 -5px 0 0;
    display: block;
}

#part1:checked ~ #controller label:nth-last-child(1), #part2:checked ~ #controller label:nth-last-child(5), #part3:checked ~ #controller label:nth-last-child(4), #part4:checked ~ #controller label:nth-last-child(3),
#part5:checked ~ #controller label:nth-last-child(2) {
    background: url("./images/arrow-prev-svgrepo-com.svg") no-repeat;
    background-size: 50px;
    float:left;
    margin: 0 0 0 -5px;
    display: block;
}

#dots {
    margin: 160px 0 0;
    text-align: center;
}

#dots label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #f5c4a2;
    margin: 0 10px;
}

#part1:checked ~ #dots label:nth-child(1), 
#part2:checked ~ #dots label:nth-child(2), 
#part3:checked ~ #dots label:nth-child(3), 
#part4:checked ~ #dots label:nth-child(4),
#part5:checked ~ #dots label:nth-child(5) {
    background: #e79157;
}

#contact-info, #contact-info-confirm {
    display: flex;
    max-width: 85%;
    margin: 20px auto 50px auto;
}

#appointment, #confirmation {
    width: 55%;
    padding: 20px 0;

    background-color: #6688c4;
    border-radius: 30px;
}

#appointment-form {
    width: 85%;
    margin: auto;

    font-size: larger;
    line-height: 0.7;
    color: #FFFAF4;
}

#appointment-form h1 {
    margin-bottom: 0;
}

#appointment-form p {
    font-style: italic;
    color: #eee7dd;
}

#confirmation-note {
    width: 85%;
    margin: auto;

    padding-top: 15px;
    text-align: center;
    font-size: larger;
    color: #FFFAF4;
}

.required {
    color: #F4B183;
}

#appointment-form form {
    font-size: 22px;
    line-height: 35px;
}

#user-details, #user-contact, #pet-info, #groomingoptions, #appointment-details, #form-submit {
    margin: 20px 0;
    width: 100%;
}

#user-details label, #user-contact label, #petbreed label, #petsize label, #groomingoptions label, #appointment-details label {
    font-size: 26px;
}

#appointment-form input[type=text],
#appointment-form input[type=email],
#appointment-form input[type=date],
#appointment-form input[type=time],
#appointment-form select {
    background-color: #FFFAF4;
    border: none;
    border-radius: 6px;
}

#fullname, #pet-info, #appointment-details {
    display: flex;
    padding: 0;
}

#fname, #petbreed, #date-field {
    width: 45%;
}

#fname input[type=text], 
#lname input[type=text], 
#email-field input[type=email], 
#petbreed input[type=text], 
#petsize select, 
#date-appointment input[type=date], 
#time-appointment input[type=time] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px;
    border: 4px solid #FFFAF4;

    font-size: large;
}

#fname input[type=text]:focus, #lname input[type=text]:focus, #email-field input[type=email]:focus, #petbreed input[type=text]:focus, #petsize select:focus, #date-appointment input[type=date]:focus, #time-appointment input[type=time]:focus {
    outline: none;
    border: 4px solid #F4B183;
    background-color: #fff0da;
}

#lname, #petsize, #time-field {
    flex: 1;
    margin-left: 5%;
}

#email-field {
    width: 100%;
}

#choices {
    column-count: 2;
}

#choices label {
    font-size: 24px;
    display: grid;
    grid-template-columns: 2em auto;
}

input[type=checkbox] {
    appearance: none;
    margin: 0;
}

input[type=checkbox] {
    font: inherit;
    color: #FFFAF4;
    width: 1.15em;
    height: 1.15em;
    border: 0.12em solid currentColor;
    border-radius: 0.10em;
    transform: translateY(0.10em);
    display: grid;
    place-content: center;
}

#choices label + label {
    margin-top: 0.2em;
}

input[type=checkbox]::before {
    content: "";
    width: 0.8em;
    height: 0.8em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #eba271;

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type=checkbox]:checked {
    background-color: #FFFAF4;
}

input[type=checkbox]:checked::before {
    transform: scale(1);
}

#form-submit {
    width: 40%;
    float: right;
    margin-top: 0;
}

#form-submit input[type=submit] {
    background-color: #FFFAF4;
    box-sizing: border-box;
    width: 100%;
    padding: 4px 10px;
    border: 4px solid #FFFAF4;
    border-radius: 50px;
    color: #e79157;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

#form-submit input[type=submit]:hover {
    background-color: #dee6f3;
    border-color: #dee6f3;
}

#form-submit input[type=submit]:focus {
    background-color: #F4B183;
    border-color: #F4B183;
    color: #FFFAF4;
}

#contact {
    width: 30%;
    margin-left: 5%;
    padding: 20px;

    font-size: x-large;

    color: #6688c4;
}

#contact-confirm {
    width: 30%;
    margin-left: 5%;
    padding: 20px;

    font-size: x-large;

    color: #6688c4;
}

#contact-confirm h1 {
    margin: 1px;
}

#contact address, #contact-confirm address {
    font-style: normal;
}

#contact a, #contact-confirm a {
    text-decoration: none;
    color: #e79157;
}